.container{
    text-align: center;
    margin-top: 4rem;
}
.secWrapper{
    margin-top: 3rem;    
    width: 1024px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap:20px;
    
    text-align: center;
    }
.secLeft{
    grid-column: 1;
    background-color: #f6f6f6;
 
    box-shadow: 4px 6px 18px 0px rgba(0,0,0,0.9);
}
.tab{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tab p{
    font-size: 12px;
    align-self: start;
    margin-left: 2rem;
}
.secRight{
    grid-column: 2;
    background-color: #f6f6f6;
    border-radius: 0.5rem;
    box-shadow: 4px 6px 18px 0px rgba(0,0,0,0.9);
}
